<button><%= link_to 'back', home_index_path%></button>

<h2>edit user</h2>

<%= form_for @user do |form| %>

  <% @user.errors.full_messages.each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>

  <%= form.label 'name' %>
  <%= form.text_field :name %>
  <br>
  <%= form.label 'description' %>
  <%= form.text_field :description %>
  <br>
  <%= form.submit %>
<% end %>
